body{
    background-image: url("best-hd-Blue-Background.jpg");
	background-repeat: no-repeat;
	background-size: 1550px;
	top-margin: 0;
	}
#title{
      background-color: #020926;
	  overflow: hidden;
		height: 120px;
		box-shadow: 10px 10px 5px grey;
	  }
	

	
img {
padding-top: 12px;
    width: 90px;
	height: 90px;
	vertical-align: sup;
	padding-left: 5px;
	}

h1{
    font-family: Times New Roman;
	font-size: 60px;
	font-variant: small-caps;
	font-weight: bold;
	color: #b7defd;
	text-align:center;
	padding-top: 0.4px;
	}
.icon {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.form{
      background-image: linear-gradient(to bottom, #00aaf7, #004389);
      position: relative;
	  left: 500px;
      border: 2px solid #15365f;
	  border-radius: 15px;
	  text-align: left;
	  padding-bottom: 10px;
	  padding-top: 10px;
	  padding-left: 8px;
	  padding-right: 2px;
	  margin-top: 60px;
	  margin-right: 50px;
	  line-height: 40px;
	  height: 400px;
	  width: 600px;
	 }
	 
#main {
    transition: margin-left .5s;
      }
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}